/* Color Scheme To Use: #ffcc00, #009933, #ce0000 */

body {
    background-color:white;
}

.navbar-light .navbar-brand {
    color: #009933;
    font-family: 'Sansita Swashed', cursive;
}

.nav-link {
    font-family: 'Sansita Swashed', cursive;
    color: white;
}

.dropdown-item {
    font-family: 'Sansita Swashed', cursive;
    color: white;
}

#social-links {
    margin-top: 5px;
    position: relative;
    align-self: auto;
}