body {
    background-color: black;
}
#header {
    background-color: white;
}
.company-name {
    font-weight: 900;
    font-size: 3.5em;
  }
  
.company-name .letter {
    display: inline-block;
    line-height: 1em;
  }
  
.company-name .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
.company-name .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: 0 0;
  }
  
.company-name .line1 { top: 0; }
.company-name .line2 { bottom: 0; }