/* Color Scheme To Use: #ffcc00, #009933, #ce0000 */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body {
    background-color:#ffcc00;
    text-align: center;
    align-items: center;
}

.navbar-light .navbar-brand {
    color: #009933;
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
}

.nav-link {
    font-family: 'Indie Flower', cursive;
    color: white;
    font-size: 20px;
}

.dropdown-item {
    font-family: 'Indie Flower', cursive;
    color: white;
    font-size: 20px;
}

#welcome {
    margin-top: 5px;
    font-family: 'Indie Flower', cursive;
    opacity: .7;
}

.carousel {
    width: 80%;
    margin: 0 auto;
}